link(rel="import" href="../../../bower_components/polymer/polymer.html")

dom-module(id="a-list")
    template
        h2 A list
        input(placeholder='item name' on-keypress='addEntry')
        br
        button(on-click='updateEntries') update the entries
        button(on-click='updateEntriesAsync') update the entries async
        ul
            template(is='dom-repeat' items='{{entries}}')
                li
                    span An item: [[item.name]], with friend: [[item.friend]]
                    button(on-click='incrementEntry') Increment
                    input(on-keypress='setFriendKeypress' placeholder="[[arrayItem(entries.*, index, 'name')]]")
                    button(on-click='setFriend') Set Friend

        p A list with {{entries.length}} entries!
        p This is a computed entry string: {{entriyString}}

    script
        include:babel ./alist.js
