link(rel="import" href="../../../bower_components/polymer/polymer.html")

dom-module(id="a-list")
    style
        include ./alist.scss

    template
        h2.foo A list
        span API Result: [[_apiResult]]
        br
        button(on-click='apiGet') API GET
        span API Pending: [[_apiPending]]
        br
        input(placeholder='item name' on-keypress='addEntry')
        br
        button(on-click='updateEntries') update the entries
        br
        button(on-click='updateEntriesAsync') update the entries async
        br
        button(on-click='updateEntriesAsyncThunk') update the entries async thunk middleware
        ul
            template(is='dom-repeat' items='[[entries]]')
                li(class='entry')
                    span An item: [[item.name]], priority [[item.prio]], with friend: [[item.friend]]
                    br
                    button(on-click='incrementEntry' disabled='[[item.isLast]]') Increment
                    br
                    input(on-keypress='setFriendKeypress' placeholder="[[arrayItem(entries.*, index, 'name')]]" value='[[friendInput(item)]]')
                    button(on-click='setFriend') Set Friend

        p A list with {{entries.length}} entries!
        p This is a computed entry string: {{entriyString}}

    script
        include:babel ./alist.js
