label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 5px 10px;
    border: 1px solid #c0c0c0;
    border-right: 0;
}

button {
    padding: 5px 10px;
    border: 1px solid #c0c0c0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 10px 0;
}
