link(rel="import" href="../../../bower_components/polymer/polymer.html")

dom-module(id="home-page")
    template
        h1 This is POLYMER, hello {{who}}!
        p State text: {{fromState}}.
        p Computed text: {{compState}}
        p Page: Home

    script
        include:babel ./home.js
