link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../ui-components/tasklist/tasklist.html")
script(src="../../../bower_components/lodash/lodash.js")

dom-module(id="home-page")
    template
        h1 This is POLYMER!
        dg-tasklist

    script
        include:babel ./home.js
