link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/polymer-redux/polymer-redux.html")

script(src="../../../vendor/redux.js")

dom-module(id="redux-store")
    template

    script
        include:babel ./redux-store.js
