link(rel="import" href="../../../bower_components/polymer/polymer.html")

dom-module(id="redux-behavior")
    template

    script
        include:babel ./shared-state-behavior.js
        include:babel ./redux-behavior.js
