.lower,
.higher,
.remove {
    width: 25px;
    height: 25px;
}

.higher {
    margin-left: 2px;
    margin-right: 10px;
}

.remove {
    margin-left: 10px;
}

.priority {
    font-size: 14px;
}

.name {
    font-weight: bold;
    font-size: 16px;
}

.status {
    font-size: 14px;
    font-style: italic;
}
