link(rel="import" href="../../../bower_components/polymer/polymer.html")

dom-module(id="dg-task")
    template
        li
            button(on-click="lowerPriority") - 
            span [[priority]] - 
            span [[name]] 
            button(on-click="higherPriority") + 
            span [[status]] 
            button(on-click="removeTask") remove

    script
        include:babel ./task.js
