link(rel="import" href="../bower_components/polymer/polymer.html")
link(rel="import" href="pages/home/home.html")

dom-module(id="app-shell")
    template
        home-page

    script
        include:babel ./app-shell.js
