link(rel="import" href="vendor/ramda.js.html")
link(rel="import" href="vendor/redux.js.html")
link(rel="import" href="vendor/setimmediate.js.html")
link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/polymer-redux/polymer-redux.html")

dom-module(id="app-store")
    template

    script
        include:babel reducers/tasklist.js
        include:babel app-store.js
