link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="redux/redux-store.html")
link(rel="import" href="pages/home/home.html")

dom-module(id="app-shell")
    template
        redux-store
        home-page

    script
        include:babel ./app-shell.js
