doctype html
html(lang="en")
    head
        base(href="/")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")

        title dg Polymer
        meta(name="description" content="Let's do some Polymer!")

        script(src="vendor/dependencies.js")

        link(rel="manifest" href="manifest.json")
        link(rel="import" href="./pages/home/home.html")
    body
        home-page
